@using SwitchAcc.Models
@model SwModelsViewModel

@{
    ViewData["Title"] = "Модели коммутаторов";
}

@if (Model != null)
{

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Модель</th>
                <th>Изменить</th>
            </tr>
        </thead>
        <tbody>
            @foreach (SwModel item in Model.SwModels)
            {
                <tr>
                    <td> @item.Name</td>
                    <td>
                        <form asp-action="Delete" method="post">
                            <a asp-action="EditModel" class="btn btn-sm btn-warning btn-std-size" asp-route-modelid="@item.ID">
                                Изменить
                            </a>
                            <input type="hidden" name="modelid" value="@item.ID" /><br />
                            <button type="submit" class="btn btn-sm btn-danger btn-std-size">Удалить</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div page-model="@Model.PagingInfo" page-action="Index"
         page-classes-enabled="true"
         page-class="btn" page-class-normal="btn-default" page-class-selected="btn-primary"
         class="btn-group pull-right"></div>
}
else
{
    <div class="row"><h3>Нет моделей.</h3></div>
}

<div class="row">
    <a class="btn btn-primary" asp-action="EditModel">Добавить модель</a>&nbsp;
</div>
