@{
    ViewData["Title"] = "О приложении";
}

<h2>Тестовое задание по C#</h2>

<p>Написать веб-приложение на C#, ведущее учет коммутаторов. Программа должна давать возможность создавать/редактировать/удалять коммутаторы, просматривать список всех коммутаторов, а также иметь простой и расширенный фильтры поиска. Перелистывание страниц при просмотре списка коммутаторов должно быть реализовано на сервере. Обязательная валидация редактируемых атрибутов как на сервере, так и на клиенте.</p>
<p>Коммутатор обладает следующими атрибутами:</p>
<ul>
    <li>Модель</li>
    <li>
        IP-адрес
    </li>
    <li>
        MAC-адрес
    </li>
    <li>
        Управляющий VLAN
    </li>
    <li>
        Серийный номер
    </li>
    <li>
        Инвентарный номер
    </li>
    <li>
        Дата покупки
    </li>
    <li>
        Дата установки
    </li>
    <li>
        Этаж, на котором стоит
    </li>
    <li>Комментарий</li>
</ul>
<p>Обязательное использование следующих фреймворков:</p>
<ul>
    <li>ASP .NET Core</li>
    <li>Entity Framework Core</li>
</ul>

<h3>Известные проблемы:</h3>
<ul>
    <li>Целостность данных сейчас поддерживается базой данных. При попытке удалить модель, на которую ссылается коммутатор - база данных вернет отказ. Приложение вернет ошибку. То же для VLAN;</li>
    <li>При увеличении количества моделей, для удобства, необходимо сделать отдельную страницу выбора. Сейчас реализовано простым select;</li>
    <li>Детальная реализация моделей коммутаторов и VLAN;</li>
    <li>Обработка даты не установленного еще коммутатора;</li>
    <li>Доработка UI "по вкусу";</li>
    <li>Все строки в ресурсы, для локализации (при необходимости);</li>
    <li>При добавлении или удалении модели (VLAN, коммутатора) возвращаться на актуальную страницу;</li>
    <li>Валидацию обсудить и переделать. Сейчас проверка при добавлении коммутатора на стороне клиента и сервера. При добавлении модели и VLAN на стороне клиента и на уровне свойств с выбросом исключения;</li>
    <li>Фильтры не реализованы из-за ограничения по времени выполнения работы (просто не успел);</li>
    <li>Так же фильтры на страницах с моделями и VLAN.</li>
</ul>